.Footer {
    position: fixed; 
    padding: 2px;
    bottom: 0; 
    width: 100%; 
    height: 20px; 
    background-color: #003300;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt
}

.Footer a:link, .Footer a:visited {
    color: white;
    text-decoration: underline;
}

.Footer a:hover {
    text-decoration: underline;
}

.Footer a:active {
    color: gray
}

